<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hero - Admin</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <style>
        .hero-list img {
            width: 50px;
        }
    </style>
</head>

<body>
    <header>
        <div class="page-header container">
            <h1>王者荣耀 <small>英雄管理器</small></h1>
        </div>
    </header>
    <div class="container hero-list">
        <form id='myform'>
            <input type="hidden" name="img" value="0.jpg" id="headSrc">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>姓名：</td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>性别：</td>
                        <td><input id="nan" checked name="gender" value="男" type="radio"><label for="nan">男</label>
                            <input name="gender" value="女" type="radio" id="nv"><label for="nv">女</label></td>
                    </tr>
                    <tr>
                        <td>头像：</td>
                        <td><img src="../static/images/0.jpg" alt="" id="photo" width="100">
                            <input type="file" id="img"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="btn btn-primary" type="button" id="sub" value="新增"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">提水</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        新增失败
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="../static/js/jquery.js"></script>
<script>
    //将文件转成文件流;
    $('#img').on('change', function () {
        let file = this.files[0];
        let fd = new FormData();
        fd.append('pic', file);
        $.ajax({
            url: 'http://127.0.0.1:8080/uploadHeadImg',
            type: 'post',
            data: fd,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.code === 200) {
                    $('#photo').attr('src', res.baseDir + res.filePath);
                    $('#headSrc').val(res.filePath);
                }
            }
        })
    })


    $('#sub').on('click', function () {
        if ($('input[type="text"]').val().trim().length === 0) {
            return alert('用户名不能为空');
        }
        let data = $('form').serialize();
        $.ajax({
            url: 'http://127.0.0.1:8080/addNewHero',
            type: 'post',
            data: data,
            success: function (res) {
                if (res.code === 200) {
                    alert('添加成功');
                    location.href = './index.html';
                }
            }
        })
    })
</script>

</html>