<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hero - Admin</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <style>
        .hero-list img {
            width: 50px;
            height: 50px;
            display: block
        }

        .hero-list td {
            height: 50px;
            line-height: 50px;
        }
    </style>
</head>

<body>
    <header>
        <div class="page-header container">
            <h1>王者荣耀 <small>英雄管理器</small></h1>

            <a href="javascript:void(0);" class="btn btn-exit btn-primary" hidden style='float:right;'>退出</a>
            <a href="login.html" class="btn btn-login btn-success" style='float:right'>登录</a>
        </div>
    </header>
    <div class="container hero-list">
        <a class="btn btn-add btn-success pull-right" hidden href="./add.html">添加英雄</a>
        <table class="table table-hover" hidden>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>性别</th>
                    <th>头像</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <!-- <tr>
          <td>1</td>
          <td>狗蛋</td>
          <td>男</td>
          <td><img src="../static/images/0.jpg"></td>
          <td><a href="./edit.html?id=1">修改</a> 
            <a data-id="1" href="javscript:void(0);">删除</a>
          </td>
        </tr> -->
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        你确定要删除吗？
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-sure-del" data-id="null">确定</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/ajax.js"></script>
<script>
    let userId = localStorage.getItem('userId'); //？？？？本地储存的userId哪来的e
    if (!userId) {
        alert('您还没有登陆过，请先登陆');
        location.href = './ajax_login.html';
    } else {
        ajax({
            url: 'http://127.0.0.1:8080/isLogin',
            data: 'id=' + userId,
            callback: function () {
                res = JSON.parse(res);
                if (res.code === 200) {
                    $('.page-header a:last-child').attr('hidden', true);
                    $('.page-header a:nth-child(2),.hero-list a:first-child,table').removeAttr('hidden');
                    //判断英雄
                    ajax({
                        url: 'http://127.0.0.1:8080/getAllHero',
                        type: 'post',
                        callback: function (res) {
                            res = JSON.parse(res);
                            if (res.code === 200) {
                                let html = '';
                                res.data.forEach(e => {
                                    html += `<tr>
                                        <td>${e.id}</td>
                                        <td>${e.name}</td>
                                        <td>${e.gender}</td>
                                        <td><img src="../static/images/${e.img}"></td>
                                        <td><a href="./edit.html?id=1">修改</a> 
                                        <a data-id="1" href="javscript:void(0);">删除</a>
                                        </td>
                                        </tr>`;
                                });
                                $('#tbody').html(html);
                            }
                        }
                    })
                } else {
                    alert('您还没有登陆过，请先登陆');
                    location.href = './ajax_login.html';
                }
            }
        })
    }
</script>

</html>