<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-size: 30px;
        }
        .container {
            width: 800px;
            margin: 100px auto;
        }
        .row {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <a href="./ajax_register.html">注册</a>
        </div>
        <div class="row">
            <a href="./ajax_login.html">登录</a>
        </div>
        <div class="row">
            <a href="./ajax_index.html">英雄列表</a>
        </div>
        <div class="row">
            <a href="./ajax_add.html">添加英雄</a>
        </div>
        <div class="row">
            <a href="./ajax_edit.html">编辑英雄</a>
        </div>
    </div>
</body>

</html>